<table width="100%" border="0" cellspacing="0" cellpadding="4" id='camservers' class="display compact nowrap">
  <thead>
    <tr>
      <th style="">ID</th>
      <th style="">Название</th>
      <th style="">Адрес</th>
      <th style="">Порт</th>
      <th style="">Пользователь</th>
      <th style="">Пароль</th>
      <th style="">Таймаут</th>
      <th style="">Ключ</th>
      <th style="">EMM</th>
      <th style="">&nbsp;</th>
    </tr>
  </thead>
</table>
<div id="camserver-edit-form"  class="uk-modal" >
  <div class="uk-modal-dialog" > <a class="uk-modal-close uk-close" title="Закрыть"></a>
    <form id="camserver-edit-form-f" class="uk-form">
      <fieldset data-uk-margin class="uk-form-horizontal" >
        <legend>Параметры CAM-Сервера</legend>
        <div class="uk-form-row">
          <label for="name"  class="uk-form-label">Название: </label>
          <div class="uk-form-controls">
            <input name='name' id='name' type="text"  maxlength="50"  />
          </div>
        </div>
        <div class="uk-form-row">
          <label for="host"  class="uk-form-label">Адрес: </label>
          <div class="uk-form-controls">
            <input name='host' id='host' type="text"  maxlength="50"  />
          </div>
        </div>
        <div class="uk-form-row">
          <label for="port"  class="uk-form-label">Порт: </label>
          <div class="uk-form-controls">
            <input name='port' id='port' type="text"  maxlength="50"  />
          </div>
        </div>
        <div class="uk-form-row">
          <label for="user"  class="uk-form-label">Пользователь: </label>
          <div class="uk-form-controls">
            <input name='user' id='user' type="text"  maxlength="50"  />
          </div>
        </div>
        <div class="uk-form-row">
          <label for="pass"  class="uk-form-label">Пароль: </label>
          <div class="uk-form-controls">
            <input name='pass' id='pass' type="text"  maxlength="50"  />
          </div>
        </div>
        <div class="uk-form-row">
          <label for="timeout"  class="uk-form-label">Таймаут: </label>
          <div class="uk-form-controls">
            <input name='timeout' id='timeout' type="text"  maxlength="50" />
          </div>
        </div>
        <div class="uk-form-row">
          <label for="key"  class="uk-form-label">Ключ: </label>
          <div class="uk-form-controls">
            <input name='key' id='key' type="text" maxlength="50" value="0102030405060708091011121314"  />
          </div>
        </div>
        <div class="uk-form-row">
          <label for="disable_emm"  class="uk-form-label">EMM: </label>
          <div class="uk-form-controls">
            <select name='disable_emm' id='disable_emm' >
              <option value="false">Да</option>
              <option value="true">Нет</option>
            </select>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <button class="uk-button uk-button-success" type="submit" id="camserver-submit-button">Добавить</button>
          </div>
        </div>
      </fieldset>
      <div class="uk-form-row">
        <input type="hidden" name='newcamd_id' id='newcamd_id' value="">
        <input type="hidden" name='plugin' id='plugin' value="camservers">
        <input type="hidden" name='action' id='action' value="add_server">
      </div>
    </form>
  </div>
</div>
<script type='text/javascript'>
	$(document).ready(function() {
    	$('#camservers').dataTable( {
				"paging": false,
				"lengthChange": false,
				"searching": true,
				"ordering": true,
				"info": false,
				"autoWidth": false,
				"stateSave": true,
				"language": {
                	"url": "scripts/datatables/i18n/Russian.lang"
            	},
				"ajax": "{php_self}?plugin=camservers&action=get_servers",
				"columnDefs": [
					  { "type": "ip-address", "targets": [ 2 ] },
					  { 'sortable': false, 'targets': [ 5,6,9 ] }
				],
				"columns": [
					{ "data": "newcamd_id" },
					{ "data": "name" },
					{ "data": "host" },
					{ "data": "port" },
					{ "data": "user" },
					{ "data": "pass" },
					{ "data": "timeout" },
					{ "data": "key" },
					{ "data": "disable_emm_text" },
					{ "data": "server_buttons" },
				],
				"rowCallback": function( row, data ) {
					// Bold the grade for all 'A' grade brows
				
						$('td:eq(1)', row).html('<strong>' + data['name'] + '</strong>');
				},
				
			});
			
			if('{show_add_dialog}' == 'Y')
			{
				add_camserver_dialog();
			}
			
		} );

		function edit_camserver_dialog()
		{		
				$('#camserver-submit-button').html('<i class="uk-icon-save"></i> Сохранить');;
				$.UIkit.modal("#camserver-edit-form").show();
				$("#camserver-edit-form #action").val("edit_server");
		}
		
		function add_camserver_dialog()
		{
				$('#camserver-submit-button').html('<i class="uk-icon-plus"></i> Добавить');
				$("#camserver-edit-form-f #name").val("");
				$("#camserver-edit-form-f #host").val("");
				$("#camserver-edit-form-f #port").val("");
				$("#camserver-edit-form-f #user").val("");
				$("#camserver-edit-form-f #pass").val("");
				$("#camserver-edit-form-f #timeout").val("0");
				$("#camserver-edit-form-f #key").val("0102030405060708091011121314");
				$("#camserver-edit-form-f #action").val("add_server");
				$.UIkit.modal("#camserver-edit-form").show();
		}

		
</script> 
